.topBar{
    height: 70px;
    margin: 0px;
    font-size:14px;
    font-weight:bold;
}
.email-phone-address p{
    margin-right:15px;
    margin-bottom:0px;
}
p{
    margin:0px;
    padding:0px;
    padding-bottom: 0px;
}
p > {
    color: red;
}
.login-register{
    text-decoration: none;
}
.address, .email-phone-address{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    .address, .email-phone-address{
        display:none;
    }
    .login-area {
        justify-content: end;
    }
}

/* .icons{
    color: red;
    margin: 10px;
}
.facebook{
    margin: 10px;
} */