.header {
  background-color: #045F5F;;
  height: 50px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.header-link {
  display: flex;
}
.header-link div {
  margin-left: 20px;
}
.menu {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}