.btn-main{
  /* background-image: linear-gradient(75deg, #f9ab19, #53704e); */
  border-color: transparent;
  font-weight:600;
  border-radius: 5px;
  color: #ffffff;
  background: #53704e;
}
.btn-main:hover {
  background: #082d2c;
}